In [37]:
import numpy as np
import pandas as pd

In [38]:
df=pd.read_csv('spam.csv',encoding='latin1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [39]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [40]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [41]:
df.shape

(5572, 2)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [43]:
from sklearn.preprocessing import LabelEncoder

In [44]:
le=LabelEncoder()

In [45]:
df['v1']=le.fit_transform(df['v1'])

In [46]:
df.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [48]:
feature_vectorizer=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
x=df['v2']
y=df['v1']

In [51]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [52]:
x_train.shape

(3900,)

In [53]:
x_test.shape

(1672,)

In [54]:
x_train=feature_vectorizer.fit_transform(x_train)

In [55]:
x_test=feature_vectorizer.transform(x_test)

In [56]:
from sklearn.linear_model import LogisticRegression

In [57]:
model=LogisticRegression()

In [58]:
model.fit(x_train,y_train)

LogisticRegression()

In [59]:
model.score(x_test,y_test)

0.965311004784689

In [60]:
from sklearn.metrics import f1_score

In [61]:
y_pred=model.predict(x_test)

In [62]:
f1_score(y_pred,y_test)

0.8527918781725887